body {
    background-color: #fffbf7;
}

h1 {
    font-size: 80px;
    color: #025157;
    text-align: center;
    font-family: 'Dancing Script', cursive;

}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
}

button {
    color: #fff;
    background-color: #025157;
    text-align: center;
}

.fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

li {
    display: inline;
}

.header {
    margin: 40px 20px 0;
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    font-size: 0;
}

.header>* {
    /* Todo lo que tenga el bloque header le aplicara el inline, es decir, a los hijos */
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
    /*Reduce la etiqueta no la imagen */
}

.logo>img {
    width: 15%;
}

.navbar {
    width: 60%;
    text-align: left;
    color: #025157;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 45px;
    word-spacing: 25px;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    word-spacing: 10px;
}

.actions>a {
    color: #67b54b;
}

.actions>button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;

}

.main {
    margin-top: 285px;
    text-align: center;
}

.publish {
    /* container styles if any */
    margin-left: 30px;
}

.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish>p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish>form {
    display: flex;
}

.publish>form p {
    color: #025157;
    margin-right: 18px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.formatVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formatVideo img {
    width: 120px;
    margin-top: 10px;
}

iframe {
    display: flex;
    margin: auto;
}

/* Postwork 3 */

.asideConf {
    background-color: white;
    width: 25%;
    padding: 5px;
    margin: 30px;

}

.publish2 {

    background-color: #a1d683;
    display: flex;
    margin: 0;

}

.publish2 h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish2>p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}


.publish2 img {
    width: 300px;
    margin-top: 10px;
}

.publish2 button {
    color: white;
    background-color: #025157;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.features {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); */

    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    height: 660px;
    background-color: #025157;
    padding: 5% 10%;
}

.featureCard {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.featureContent {
    padding: 30px 20px 40px 40px;
    flex: 2;
    margin-bottom: 1rem;
    margin-top: 0;
}

.featureContent h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}

.featureContent p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.featureContent a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.featureContent img {
    width: 50px;
    margin-top: 20px
}

.featureImage {
    width: 50px;
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}

.features .featureCard .featureImage figure,
.features .featureCard .featureImage img {
    margin-top: 0;
    height: 100%;
}


/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {

    .navbar,
    .actions {
        display: none;
    }

    h1 {
        font-size: 30px;
    }

    .main {
        margin-top: 130px;
    }

    .banner {
        width: 100%;
    }

    .publish > form{
        flex-direction: column;
    }

    .publish > form > div {
        height: 50px;
        margin-top: 10 px;
    }

    .publish>form>div>input{
        width: 65%;
    }

    .promo{
        flex-direction: column;
        max-width: 90%;
    }
    .explanatory-video > video {
        width: 100%;
    }
    .publish{
        margin-top: 10 px;
    }

    .publish > h3 {
        font-size: 25px;
        line-height: 1.2;
    }

}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {}